body {
  margin: 0;
  height: 5926px;
  background-color: #141e55;
  /* color: */
  font-family: 'Poppins', sans-serif;
  /* font-size: 14px; */
  /* letter-spacing: 0.03em; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
}

section {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1920px) {
  .content__wrapper {
    width: 1240px;
  }
}

.content {
  margin-right: 20px;
  width: 925px;
}

.page-header {
  background-color: #192a32;
}

.page-header__container {
  width: 1240px;
  padding-top: 12px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.page-header__nav {
  margin-right: 50px;
}

.page-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__nav-item:not(:last-child) {
  margin-right: 21px;
}

.page-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  background-color: #1a3769;
  color: #fcfcfc;
  border-radius: 16px;
}

.page-header__link--bonuses {
  width: 154px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__link--app {
  width: 113px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.page-header__action:not(:first-child) {
  margin-left: 16px;
}

.logo {
  margin-right: 28px;
  padding: 14.5px 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  background-color: #141e55;
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  background-color: #1a3769;
  border-radius: 16px;
  border-width: 0;
  -webkit-box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  cursor: pointer;
}

.btn--lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  color: #ffffff;
}

.btn--lang::before {
  content: '';
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("../../images/icons/flag.png");
}

.btn--login {
  background-color: #0fa810;
}

.btn--signup {
  background-color: #ec622b;
}

.btn--accent {
  margin-top: 16px;
  width: 214px;
  padding: 13px 0px;
  line-height: 128%;
  background-color: #ec622b;
  border: 1px solid #ffffff;
}

.btn__icon--after {
  fill: currentColor;
  margin-left: 4px;
}

.rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 8px;
}

.rating__item {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icons/star.png");
}

.rating__item:not(:first-child) {
  margin-left: 6px;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #192a32;
}

.sidebar {
  display: block;
  width: 295px;
  height: 700px;
  border: 2px solid red;
}

.gradient {
  position: absolute;
  left: -284px;
  width: 2114px;
  height: 2114px;
  z-index: -1;
}

.gradient__top {
  top: 138px;
  background-image: radial-gradient(25.94% 25.94% at 45.9% 46.39%, #ffffff 0%, #00b9de 20.1%, #0085c2 39.9%, rgba(0, 104, 154, 0.39) 68.02%, rgba(0, 83, 123, 0) 100%);
}

.gradient__middle {
  top: 2062px;
  background-image: radial-gradient(25.94% 25.94% at 51.99% 46.39%, #ffffff 0%, #00b9de 20.1%, #0085c2 39.9%, rgba(0, 104, 154, 0.39) 68.02%, rgba(0, 83, 123, 0) 100%);
}

.gradient__bottom {
  top: 4157px;
  background-image: radial-gradient(36% 36% at 45.9% 46.39%, #ffffff 0%, #00b9de 20.1%, #0085c2 39.9%, rgba(0, 104, 154, 0.39) 68.02%, rgba(0, 83, 123, 0) 100%);
}

.mobile-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 20px;
}

.mobile-app__text {
  width: 666px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #192a32;
}

.mobile-app__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  width: 179px;
  padding: 12px;
  line-height: 1.2;
  color: #fff;
  background-color: #1a3769;
}

.mobile-app__icon {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.hero {
  height: 384px;
  padding: 41px 367px 52px 20px;
  background-image: url("../../images/hero-player.png"), url("../../images/hero-bcg.png"), url("../../images/hero-bcg1.jpg");
  background-repeat: no-repeat;
  background-position: left 595px top 0px, center, bottom -40px left -70px;
}

.hero__score {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
}

.hero__title {
  color: #ffffff;
}

.hero__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 214px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #192a32;
  opacity: 0.8;
}

.hero__subtext {
  margin-top: 10px;
  font-weight: 400;
  font-size: 6px;
  line-height: 150%;
  color: #ffffff;
}

.features {
  padding: 32px 23px 32px 20px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 102px;
  padding: 0px 19px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #192a32;
  background-color: #f7f7f7;
  border-radius: 6px;
  border-right: 1px solid rgba(16, 76, 84, 0.2);
}

.features__link:hover, .features__link:focus {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
          box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
  border-radius: 6px;
  border-right: none;
}

.features__link:hover::before, .features__link:focus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: #2e9344;
  border-radius: 6px;
}

.features__icon {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

.get-bonus {
  height: 384px;
  padding: 90px 411px 90px 20px;
  background-image: url("../../images/get-bonus-cards.png"), url("../../images/get-bonus-wing.png"), url("../../images/get-bonus-bcg.png");
  background-repeat: no-repeat;
  background-position: left 572px top 27px, left 465px top 73px, center;
}

.get-bonus__text {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #192a32;
}
/*# sourceMappingURL=main.css.map */