body {
  /* background-color: */
  /* color: */
  font-family: 'Poppins', sans-serif;
  /* font-size: 14px; */
  /* letter-spacing: 0.03em; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  margin-top: 20px;
  border: 1px solid green;
  height: 100px;
}

.container {
  width: 925px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 12px 32px;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #fcfcfc;
  border-radius: 16px;
  border-width: 0;
  box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  cursor: pointer;
}

.page-header {
  background-color: #192a32;
}

.page-header__container {
  padding-top: 12px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.logo {
  margin-right: 28px;
  padding: 14.5px 32px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.28;

  background-color: #141e55;
  color: #ffffff;
}

.page-header__nav {
  display: flex;
  margin-right: 50px;
}

.page-header__nav-item:not(:last-child) {
  margin-right: 21px;
}

.page-header__nav-item {
}

.page-header__link {
  display: flex;
  align-items: center;
  padding: 12px 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;

  background-color: #1a3769;
  color: #fcfcfc;

  border-radius: 16px;
}

.lang {
  margin-right: 16px;
  color: #ffffff;
}

.page-header__actions {
  display: flex;
}

.page-header__action:not(:last-child) {
  margin-right: 16px;
}

.page-header__btn {
  background-color: #ec622b;
}

.page-header__btn--login {
  background-color: #0fa810;
}
