.page-header {
  background-color: #192a32;

  &__container {
    width: 1240px;
    padding-top: 12px;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
  }

  &__nav {
    margin-right: 50px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item:not(:last-child) {
    margin-right: 21px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 14px 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    background-color: #1a3769;
    color: #fcfcfc;

    border-radius: 16px;
  }

  &__link--bonuses {
    width: 154px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__link--bonuses::before {
    content: '';
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url('../../images/icons/Gift.png');
  }

  &__link--app {
    width: 113px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__link--app::before {
    content: '';
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url('../../images/icons/iPhone.png');
  }

  &__actions {
    display: flex;
    margin-left: 16px;
  }

  &__action:not(:first-child) {
    margin-left: 16px;
  }
}
