body {
  margin: 0;
  height: 5926px;
  background-color: #141e55;
  color: #192a32;
  font-family: 'Poppins', sans-serif;
  /* font-size: 14px; */
  /* letter-spacing: 0.03em; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
}
